.button-arrow {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--green);
  transition: color var(--transition-timing),
    background-color var(--transition-timing);
}

.scroll-down-icon {
  fill: currentColor;
  transition: scale var(--transition-timing);
}

.button-arrow:hover {
  background-color: var(--green);
  color: var(--white);
}

.button-arrow:hover .scroll-down-icon {
  scale: 1.5;
}

@media screen and (min-width: 768px) {
  .button-arrow {
    width: 48px;
    height: 48px;
  }

  .scroll-down-icon {
    width: 24px;
    height: 24px;
  }
}
