.nav-list {
    display: none;
}

.header-socials-list {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    font-family: Manrope;
    color: #121417;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-accent {
    color: #4DC274;
}

.mobile-menu-open-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
}

.mobile-menu-open-btn-icon {
    width: 32px;
    height: 32px;
    stroke: var(--navy-color);
}
                                        

@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1280px) {
    .mobile-menu-open-btn {
        display: none;
    }

    .nav-list {
        display: block;
    }

    .header-socials-list {
        display: block;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: 137px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .nav-item {
        position: relative;
    }

    .nav-link {
        color: #121417;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.3;
    }

    .nav-link::after {
        content: "";
        display: block;
        background-color: #4DC274;
        height: 2px;
        width: 37px;
        margin-top: 20px;
        position: absolute;
        left: 0;
        bottom: -4px;
        opacity: 0;
        transform: scale(0);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover::after {
        opacity: 1;
        transform: scale(1);
    }


    .header-socials-list {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .header-socials-item {
        box-sizing: border-box;
        width: 44px;
        height: 44px;
    }

    .header-socials-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid rgba(18, 20, 23, 0.10);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-socials-icon {
        fill: #121417;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-socials-link:hover,
    .header-socials-link:focus  {
        border-color: rgba(77, 194, 116, 0.10);
    }

    .header-socials-link:hover .header-socials-icon,
    .header-socials-link:focus .header-socials-icon  {
        fill: #4DC274;
    }
    


}