.hero {
  position: relative;
  width: 335px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  padding-top: 425px;
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../img/hero/block-mobile.jpg);
}
@media screen and (min-width: 768px) {
  .hero {
    width: 704px;
    margin-top: 32px;
    padding-top: 260px;
    padding-bottom: 295px;
    padding-left: 32px;
    border-radius: 30px;
    background-image: url(../../img/hero/block-tablet.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    width: 1152px;
    margin-top: 16px;
    padding-top: 164px;
    padding-bottom: 163px;
    padding-left: 64px;
    background-image: url(../../img/hero/block.jpg);
  }
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: url(../../img/hero/block-mobile@2x.jpg);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: url(../../img/hero/block-tablet@2x.jpg);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .hero {
    background-image: url(../../img/hero/block@2x.jpg);
  }
}
.hero .main-title {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero .main-title {
    margin-bottom: 32px;
    width: 488px;
  }
}
@media screen and (min-width: 1280px) {
  .hero .main-title {
    width: 564px;
    line-height: 1.2;
  }
}
.leave-an-application-link {
  display: block;
  width: 100%;
  padding: 14px 0;
  text-align: center;
  border-radius: 12px;
  background-color: var(--green);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  transition: background-color var(--transition-timing);
}
.leave-an-application-link:hover,
.leave-an-application-link:focus {
  background-color: #38ae5f;
}
@media screen and (min-width: 768px) {
  .leave-an-application-link {
    width: 306px;
    padding: 16px 64px;
    font-size: 18px;
    line-height: 1.55;
  }
}
.scroll-down-icon {
  fill: var(--green);
  transition: fill var(--transition-timing);
}

.scroll-down-icon-wrapper {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  transition: background-color var(--transition-timing);
}
.scroll-down-icon-wrapper:hover,
.scroll-down-icon-wrapper:focus {
  background-color: var(--green);
}
.scroll-down-icon-wrapper:hover .scroll-down-icon,
.scroll-down-icon-wrapper:focus .scroll-down-icon {
  fill: var(--white);
}
@media screen and (min-width: 768px) {
  .scroll-down-icon-wrapper {
    right: 32px;
    bottom: 32px;
    width: 48px;
    height: 48px;
  }
}
