.hero {
  max-width: 767px;
  padding-top: 425px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      357deg,
      rgba(0, 0, 0, 0.4) 39.23%,
      rgba(0, 0, 0, 0) 66.28%
    ),
    url('../../img/hero/block-mobile.jpg');
  margin-left: 20px;
  margin-right: 20px;
}

.main-title {
  max-width: 295px;
  font-family: Manrope;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 40px;
  color: var(--white);
}
.main-title-accent {
  color: var(--green-middle);
}

.leave-an-application-link {
  min-width: 295px;
  display: flex;
  padding: 14px 78px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background-color: var(--green);
  color: var(--white);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.7;
}

.scroll-down-icon {
  fill: var(--green);
}
.scroll-down-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--white);
  border-radius: 50%;
  margin-left: auto;
  margin-right: 14px;
  margin-top: 20px;
}
