.mobile-menu-open-btn-icon {
    stroke: #121417;
}

.mobile-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(18, 20, 23, 0.40);
    z-index: 99999;
    transition: opacity var(--transition-timing), visibility var(--transition-timing);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 

.is-hidden .mobile-menu {
    transform: translateX(100%);
}

.mobile-menu {
    position: absolute;
    transform: translateX(0%);
    top: 0;
    right: 0;
    z-index: 999999;
    width: 240px;
    height: 100vh;
    padding-bottom: 20px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform var( --transition-timing);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background-color: transparent;
    line-height: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
 .close-mobile-menu-icon {
    width: 32px;
    height: 32px;
    stroke: var(--white);
 }

 .mobile-menu-close-btn:hover .close-mobile-menu-icon {
    stroke: var(--green-light);
 }
.mobile-menu-nav-wrap {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

 .mobile-menu-nav-list {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.33;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
 }
 
 .mobile-menu-nav-link:hover {
    transition: opacity var(--transition-timing);
 }

 .mobile-menu-nav-link:hover,
 .mobile-menu-nav-link:focus {
color: var(--green-light)
 }

 .mobile-menu-social-list {
    display: flex;
    gap: 12px;
   justify-content: center;
 }

 .mobile-menu-social-item {
    width: 42px;
    height: 42px;
 }

 .mobile-menu-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobile-menu-social-icon {
    fill: var(--white);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus  {
    border-color: var(--green-light);
}

.mobile-menu-social-link:hover .mobile-menu-social-icon,
.mobile-menu-social-link:focus .mobile-menu-social-icon  {
    fill: var(--green-light);
    animation: shake 1s;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        width: 384px;
        padding-bottom: 20px;
    }

    .mobile-menu-close-btn {
        right: 32px;
        width: 40px;
        height: 40px;
    }
     .close-mobile-menu-icon {
        width: 40px;
        height: 40px;
     }

     .mobile-menu-social-item {
        width: 44px;
        height: 44px;
     }

    }
