.secondary-title-lessons {
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: -0.02em;
  color: var(--black-50-transparent);
  margin-bottom: 40px;
}

.section-our-lessons {
  padding-bottom: 80px;
  padding-top: 40px;
}
.title-price-lessons {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 16px;
}
.price-text-lessons {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 40px;
}
.text-about-price-lessons {
  max-width: 295px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.02em;
  color: var(--black-50-transparent);
  margin-bottom: 20px;
}
.link-toform-lessons {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  height: 56px;
  align-items: center;
  background-color: var(--green);
  color: var(--white);
  border-radius: 12px;
  transition: background-color var(--transition-timing);
}
.link-toform-lessons:focus,
.link-toform-lessons:hover {
  background-color: rgb(56, 174, 95);
}
.list-price-lessons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item-price-lessons {
  padding: 40px 20px;
  border: 1px solid var(--green);
  border-radius: 16px;
}
.item-price-lessons:nth-child(even) {
  background-color: var(--green);
}
.item-price-lessons:nth-child(even) .title-price-lessons {
  color: var(--white);
}
.item-price-lessons:nth-child(even) .price-text-lessons {
  color: var(--white);
}
.item-price-lessons:nth-child(even) .text-about-price-lessons {
  color: rgba(255, 255, 255, 0.7);
}
.item-price-lessons:nth-child(even) .link-toform-lessons {
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: background-color var(--transition-timing),
    color var(--transition-timing);
}
.item-price-lessons:nth-child(even) .link-toform-lessons:focus,
.item-price-lessons:nth-child(even) .link-toform-lessons:hover {
  background-color: var(--white);
  color: var(--green);
}

/* TABLET////////////////// */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-our-lessons {
    padding-bottom: 100px;
    padding-top: 50px;
  }
  .list-price-lessons {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    column-gap: 32px;
    row-gap: 32px;
  }
  .item-price-lessons {
    max-width: calc((100% - 32px) / 2);
    padding: 32px 16px;
    border-radius: 30px;
  }
  .secondary-title-lessons {
    font-size: 18px;
    margin-bottom: 64px;
  }
  .text-about-price-lessons {
    font-size: 16px;
    max-width: 304px;
    height: 132px;
    margin-bottom: 32px;
  }
  .price-text-lessons {
    margin-bottom: 32px;
  }
  .link-toform-lessons {
    font-size: 18px;
    max-width: 304px;
    height: 60px;
  }
}
/* DESKTOP///////////////// */
@media screen and (min-width: 1280px) {
  .section-our-lessons {
    padding-bottom: 150px;
    padding-top: 75px;
  }
  .secondary-title-lessons {
    font-size: 18px;
    margin-bottom: 64px;
    max-width: 665px;
    margin-left: auto;
    margin-right: auto;
  }
  .list-price-lessons {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
  .item-price-lessons {
    max-width: calc((100% - 64px) / 3);
    padding: 32px;
    border-radius: 30px;
  }
  .price-text-lessons {
    margin-bottom: 16px;
  }
  .text-about-price-lessons {
    font-size: 16px;
    max-width: 256px;
    margin-bottom: 32px;
  }

  .link-toform-lessons {
    font-size: 18px;
    max-width: 256px;
    height: 60px;
  }
}
