.secondary-title-lessons {
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  color: var(--black-50-transparent);
  margin-bottom: 40px;
}

.section-our-lessons {
  padding-bottom: 80px;
  padding-top: 40px;
}
.title-price-lessons {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: var(--black);
  margin-bottom: 16px;
}
.price-text-lessons {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 40px;
}
.text-about-price-lessons {
  max-width: 295px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--black-50-transparent);
  margin-bottom: 20px;
}
.link-toform-lessons {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  height: 56px;
  align-items: center;
  background-color: var(--green);
  color: var(--white);
  border-radius: 12px;
  transition: background-color var(--transition-timing);
}
.link-toform-lessons:focus {
  background-color: rgb(56, 174, 95);
}
.list-price-lessons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item-price-lessons {
  padding: 40px 20px;
  border: 1px solid var(--green);
  border-radius: 16px;
}
.item-price-lessons-accent {
  border-radius: 16px;
  padding: 40px 20px;
  background-color: var(--green);
  border: 1px solid var(--green);
}
.title-price-lessons-accent {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: var(--white);
  margin-bottom: 16px;
}
.price-text-lessons-accent {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: var(--white);
  margin-bottom: 40px;
}
.text-about-price-lessons-accent {
  max-width: 295px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.link-toform-lessons-accent {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  height: 56px;
  background-color: transparent;
  align-items: center;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  transition: background-color var(--transition-timing),
    color var(--transition-timing);
}
.link-toform-lessons-accent:focus {
  background-color: var(--white);
  color: var(--green);
}
/* TABLET////////////////// */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .list-price-lessons {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    column-gap: 32px;
    row-gap: 32px;
  }
  .secondary-title-lessons {
    font-size: 18px;
    margin-bottom: 64px;
  }
  .item-set-width {
    max-width: calc((100% - 32px) / 2);
    padding: 32px 16px;
  }
  .text-about-price-lessons {
    font-size: 16px;
    max-width: 304px;
    height: 132px;
    margin-bottom: 32px;
  }
  .text-about-price-lessons-accent {
    font-size: 16px;
    max-width: 304px;
    margin-bottom: 32px;
    height: 132px;
  }
  .price-text-lessons {
    margin-bottom: 32px;
  }
  .price-text-lessons-accent {
    margin-bottom: 32px;
  }
  .link-toform-lessons {
    font-size: 18px;
    max-width: 304px;
    height: 60px;
  }
  .link-toform-lessons-accent {
    font-size: 18px;
    max-width: 304px;
    height: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .secondary-title-lessons {
    font-size: 18px;
    margin-bottom: 64px;
  }
  .list-price-lessons {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
  .item-set-width {
    max-width: calc((100% - 64px) / 3);
    padding: 32px;
  }
  .price-text-lessons {
    margin-bottom: 16px;
  }
  .text-about-price-lessons {
    font-size: 16px;
    max-width: 256px;
    margin-bottom: 32px;
  }
  .text-about-price-lessons-accent {
    font-size: 16px;
    max-width: 256px;
    margin-bottom: 32px;
  }
  .price-text-lessons-accent {
    margin-bottom: 16px;
  }
  .link-toform-lessons {
    font-size: 18px;
    max-width: 256px;
    height: 60px;
  }
  .link-toform-lessons:hover {
    background-color: rgb(56, 174, 95);
  }
  .link-toform-lessons-accent {
    font-size: 18px;
    max-width: 256px;
    height: 60px;
  }
  .link-toform-lessons-accent:hover {
    background-color: var(--white);
    color: var(--green);
  }
}
