@media screen and (max-width: 374px) {
  .section-proposal {
    margin: 0 auto;
    padding: 0 20px 80px 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .section-proposal {
    margin: 0 auto;
    padding: 40px 20px 40px 20px;
    width: 375px;
  }
}

.section-proposal-container {
  padding: 40px 20px 64px 20px;
  border-radius: 16px;
  background: var(--green-gradient);
}

.rectangles {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.third-rectangle {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  transform: rotate(11deg);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
}
.second-rectangle {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: rotate(-9deg);
  border-radius: 16px;
  background: var(--green-light);
}
.firts-rectangle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
  z-index: 3;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 767px) {
  .section-proposal-container {
    overflow: hidden;
  }
}
.main-title-margin {
  margin-bottom: 65px;
}
.title-proposal-list {
  color: var(--black);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.proposal-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 20px;
}
.proposal-list-item {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.014em;
}
.proposal-list-item::before {
  content: url('../../img/proposal/custom-marker.svg');
  width: 20px;
  height: 20px;
}
.proposal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  max-width: 100%;
  height: 52px;
  text-align: center;
  border-radius: 12px;
  border-color: transparent;
  background-color: var(--green);
  transition: background-color var(--transition-timing);
}

.proposal-link:hover,
.proposal-link:focus {
  background-color: rgb(56, 174, 95);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-proposal {
    margin: 0 auto;
    padding: 50px 32px 50px 32px;
    width: 768px;
  }
  .section-proposal-container .main-title {
    line-height: 1.17;
  }
  .section-proposal-container {
    padding: 64px 18px 92px 18px;
    border-radius: 30px;
    background: var(--green-gradient);
  }
  .third-rectangle {
    transform: rotate(10.655deg);
  }
  .second-rectangle {
    transform: rotate(-9.864deg);
  }

  .firts-rectangle {
    padding: 64px 185px 64px 32px;
  }

  .main-title-margin {
    margin: 0 auto 83px auto;
  }
  .main-title-fix-width {
    max-width: 640px;
  }

  .title-proposal-list {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }
  .proposal-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    max-width: 444px;
  }
  .proposal-list-item {
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }
  .proposal-list-item::before {
    content: url('../../img/proposal/custom-marker-tablet-desktop.svg');
    width: 28px;
    height: 28px;
  }

  .firts-rectangle::after {
    content: '';
    background-image: url('../../img/proposal/books1x.png');
    position: absolute;
    width: 214px;
    height: 263px;
    background-repeat: no-repeat;
    right: 0;
    bottom: 63px;
    transform: translateX(49px);
    background-size: 214px 263px;
  }

  @media screen and (min-resolution: 2dppx) {
    .firts-rectangle::after {
      background-image: url('../../img/proposal/books2x.png');
    }
  }
  .proposal-link {
    color: var(--white);
    font-size: 18px;
    width: 306px;
    height: 60px;
    font-weight: 700;
    line-height: 1.56;
    padding: 16px 64px;
    border-radius: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .section-proposal {
    margin: 0 auto;
    padding: 75px 64px 75px 64px;
    width: 1280px;
  }
  .section-proposal-container {
    padding: 64px 64px 142px 64px;
    border-radius: 30px;
    background: var(--green-gradient);
  }
  .section-proposal-container .main-title {
    line-height: 1.17;
  }
  .third-rectangle {
    transform: rotate(8deg);
  }
  .second-rectangle {
    transform: rotate(-8deg);
  }

  .firts-rectangle {
    padding: 64px 306px 64px 64px;
  }
  .main-title-margin {
    margin: 0 0 133px 0;
  }
  .main-title-fix-width {
    max-width: 776px;
  }
  .title-proposal-list {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    letter-spacing: -0.02em;
    margin-bottom: 42px;
  }
  .proposal-list-item::before {
    content: url('../../img/proposal/custom-marker-tablet-desktop.svg');
    width: 28px;
    height: 28px;
  }
  .proposal-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .proposal-list-item:nth-child(3) {
    max-width: 624px;
  }
  .proposal-list-item {
    gap: 18px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }
  .firts-rectangle::after {
    content: '';
    background-image: url('../../img/proposal/books1x.png');
    position: absolute;
    width: 214px;
    height: 263px;
    background-repeat: no-repeat;
    right: 0;
    bottom: 79px;
    background-size: 214px 263px;
  }

  @media screen and (min-resolution: 2dppx) {
    .firts-rectangle::after {
      background-image: url('../../img/proposal/books2x.png');
    }
  }

  .proposal-link {
    color: var(--white);
    font-size: 18px;
    width: 306px;
    height: 60px;
    font-weight: 700;
    line-height: 1.56;
    padding: 16px 64px;
    border-radius: 12px;
  }
}
