<section id="about_us" class="about-us">
  <div class="container">
    <h2 class="section-title" data-aos="zoom-in-down" data-aos-duration="700">
      About <span class="section-title-accent">Us</span>
    </h2>
    <p class="section-text" data-aos="zoom-in-down" data-aos-duration="900">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-us-position">
      <ol class="about-us-list">
        <li class="about-us-item">
          <p class="about-us-item-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">Multicultural learning environment</p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">
            Comprehensive language support services
          </p>
        </li>
      </ol>
      <div class="about-us-img"></div>
    </div>
  </div>
</section>
