<section id="our_lessons" class="section-our-lessons" >
  <div class="container">
    <h2 class="section-title" data-aos="zoom-in-down" data-aos-duration="700">
      Our <span class="section-title-accent">lessons</span>
    </h2>
    <p class="secondary-title-lessons" data-aos="zoom-in-down" data-aos-duration="700">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <ul class="list-price-lessons">
      <li class="item-price-lessons">
        <h3 class="title-price-lessons">Practice</h3>
        <p class="price-text-lessons">40$ / month</p>
        <p class="text-about-price-lessons">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a class="link-toform-lessons" href="#application"
          >Leave an application</a
        >
      </li>
      <li class="item-price-lessons">
        <h3 class="title-price-lessons">Standart</h3>
        <p class="price-text-lessons">70$ / month</p>
        <p class="text-about-price-lessons">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a class="link-toform-lessons" href="#application"
          >Leave an application</a
        >
      </li>
      <li class="item-price-lessons">
        <h3 class="title-price-lessons">Individual</h3>
        <p class="price-text-lessons">99$ / month</p>
        <p class="text-about-price-lessons">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a class="link-toform-lessons" href="#application"
          >Leave an application</a
        >
      </li>
    </ul>
  </div>
</section>
