
  <section id="#our_lessons" class="section-our-lessons">
    <div class="container">
      <h2 class="section-title-our-lessons">
        Our <span class="section-title-accent">lessons</span>
      </h2>
      <h3 class="secondary-title-lessons">
        Our lessons are carefully structured and interactive, designed to
        promote rapid language acquisition through practical tasks and
        real-world scenarios
      </h3>
      <ul class="list-price-lessons">
        <li class="item-price-lessons">
          <h4 class="title-price-lessons">Practice</h4>
          <p class="price-text-lessons">40$ / month</p>
          <p class="text-about-price-lessons">
            This plan offers an opportunity for learners to engage in
            collaborative language exercises and group activities, boosting
            their conversational skills and confidence in using English.
          </p>
          <a class="link-toform-lessons" href="">Leave an application</a>
        </li>
        <li class="item-price-lessons-accent">
          <h4 class="title-price-lessons-accent">Standart</h4>
          <p class="price-text-lessons-accent">70$ / month</p>
          <p class="text-about-price-lessons-accent">
            Our standard package provides a balanced learning approach that
            covers all key areas of English language - reading, writing,
            listening, and speaking. It is a set of basic knowledge and skills.
          </p>
          <a class="link-toform-lessons-accent" href="">Leave an application</a>
        </li>
        <li class="item-price-lessons">
          <h4 class="title-price-lessons">Individual</h4>
          <p class="price-text-lessons">99$ / month</p>
          <p class="text-about-price-lessons">
            We offer a tailored learning experience with individualized
            instruction that focuses on a learner's specific language goals and
            challenges, offering personal feedback.
          </p>
          <a class="link-toform-lessons" href="">Leave an application</a>
        </li>
      </ul>
    </div>
  </section>
</html>
