<section class="section-proposal" id="proposal">
  <div class="container">
    <h2 class="title-proposal-section">
      Master the <span class="part-title-proposal-section">Language</span> with
      Our English Package!
    </h2>
    <div class="third-rectangle"></div>
    <div class="second-rectangle"></div>
    <div class="firts-rectangle">
      <h3 class="">Power of English</h3>
      <ul class="proposal-list">
        <li class="proposal-list-item">
          Dive into captivating lessons designed to stimulate your curiosity.
        </li>
        <li class="proposal-list-item">
          Learn in a nurturing setting where every student's progress matters.
        </li>
        <li class="proposal-list-item">
          Experience the satisfaction of real progress as your language skills
          and confidence grow with every session.
        </li>
      </ul>
      <img
        class="proposal-image"
        srcset="../img/proposal/books1x.png, ../img/proposal/books2x.png 2x"
        src="../img/proposal/books1x.png"
        alt="books"
        width="214"
      />
      <a href="#leave_application" class="proposal-link">
        Leave an application
      </a>
    </div>
  </div>
</section>
