<section id="reviews" class="reviews-section">
  <div class="container">
    <h2 class="section-title">
      What our <span class="section-title-accent">students</span> say
    </h2>
    <p class="section-text">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <div class="itc-slider" data-slider="itc-slider" data-autoplay="true">
      <div class="itc-slider-wrapper">
        <ul class="itc-slider-items">
          <li class="itc-slider-item">
            <div class="reviews-item-wrapper">
              <div class="reviews-item-header">
                <img
                  srcset="./img/reviews/review_1@2x.png 2x"
                  src="./img/reviews/review_1.png"
                  alt="Student Anna"
                  loading="lazy"
                  width="50"
                  height="50"
                />
                <div class="reviews-item-header-container">
                  <h3 class="reviews-item-name">Anna</h3>
                  <p class="reviews-item-role">Student</p>
                </div>
              </div>
              <p class="reviews-item-body">
                My experience at the language school has been nothing short of
                amazing. The teachers are dedicated and the learning environment
                is stimulating. I feel more confident in my English skills.
              </p>
            </div>
          </li>
          <li class="itc-slider-item">
            <div class="reviews-item-wrapper">
              <div class="reviews-item-header">
                <img
                  srcset="./img/reviews/review_2@2x.png 2x"
                  src="./img/reviews/review_2.png"
                  alt="Student Mykhailo"
                  loading="lazy"
                  width="50"
                  height="50"
                />
                <div class="reviews-item-header-container">
                  <h3 class="reviews-item-name">Mykhailo</h3>
                  <p class="reviews-item-role">Student</p>
                </div>
              </div>
              <p class="reviews-item-body">
                The school offers a great balance of language theory and
                practical exercises. The personalized feedback from the teachers
                has helped me improve my weak areas.
              </p>
            </div>
          </li>
          <li class="itc-slider-item">
            <div class="reviews-item-wrapper">
              <div class="reviews-item-header">
                <img
                  srcset="./img/reviews/review_3@2x.png 2x"
                  src="./img/reviews/review_3.png"
                  alt="Student Victoria"
                  loading="lazy"
                  width="50"
                  height="50"
                />
                <div class="reviews-item-header-container">
                  <h3 class="reviews-item-name">Victoria</h3>
                  <p class="reviews-item-role">Student</p>
                </div>
              </div>
              <p class="reviews-item-body">
                I love the dynamic and interactive teaching methods used here.
                It's a great place to learn English in a fun and effective way.
                I have definitely seen a big improvement in my language skills.
              </p>
            </div>
          </li>
          <li class="itc-slider-item">
            <div class="reviews-item-wrapper">
              <div class="reviews-item-header">
                <img
                  srcset="./img/reviews/review_1@2x.png 2x"
                  src="./img/reviews/review_1.png"
                  alt="Student Anna"
                  loading="lazy"
                  width="50"
                  height="50"
                />
                <div class="reviews-item-header-container">
                  <h3 class="reviews-item-name">Anna</h3>
                  <p class="reviews-item-role">Student</p>
                </div>
              </div>
              <p class="reviews-item-body">
                My experience at the language school has been nothing short of
                amazing. The teachers are dedicated and the learning environment
                is stimulating. I feel more confident in my English skills.
              </p>
            </div>
          </li>
          <li class="itc-slider-item">
            <div class="reviews-item-wrapper">
              <div class="reviews-item-header">
                <img
                  srcset="./img/reviews/review_2@2x.png 2x"
                  src="./img/reviews/review_2.png"
                  alt="Student Mykhailo"
                  loading="lazy"
                  width="50"
                  height="50"
                />
                <div class="reviews-item-header-container">
                  <h3 class="reviews-item-name">Mykhailo</h3>
                  <p class="reviews-item-role">Student</p>
                </div>
              </div>
              <p class="reviews-item-body">
                The school offers a great balance of language theory and
                practical exercises. The personalized feedback from the teachers
                has helped me improve my weak areas.
              </p>
            </div>
          </li>
          <li class="itc-slider-item">
            <div class="reviews-item-wrapper">
              <div class="reviews-item-header">
                <img
                  srcset="./img/reviews/review_3@2x.png 2x"
                  src="./img/reviews/review_3.png"
                  alt="Student Victoria"
                  loading="lazy"
                  width="50"
                  height="50"
                />
                <div class="reviews-item-header-container">
                  <h3 class="reviews-item-name">Victoria</h3>
                  <p class="reviews-item-role">Student</p>
                </div>
              </div>
              <p class="reviews-item-body">
                I love the dynamic and interactive teaching methods used here.
                It's a great place to learn English in a fun and effective way.
                I have definitely seen a big improvement in my language skills.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Кнопки для перехода к предыдущему и следующему слайду -->
      <button class="itc-slider-btn itc-slider-btn-prev button-arrow">
        <svg
          class="scroll-down-icon"
          width="20"
          height="20"
          aria-label="scroll down icon"
        >
          <use href="/img/icons.svg#icon-angle"></use>
        </svg>
      </button>
      <button class="itc-slider-btn itc-slider-btn-next button-arrow">
        <svg
          class="scroll-down-icon"
          width="20"
          height="20"
          aria-label="scroll down icon"
        >
          <use href="/img/icons.svg#icon-angle"></use>
        </svg>
      </button>
      <ol class="itc-slider-indicators">
        <li class="itc-slider-indicator" data-slide-to="0"></li>
        <li class="itc-slider-indicator" data-slide-to="1"></li>
        <li class="itc-slider-indicator" data-slide-to="2"></li>
        <li class="itc-slider-indicator" data-slide-to="3"></li>
        <li class="itc-slider-indicator" data-slide-to="4"></li>
        <li class="itc-slider-indicator" data-slide-to="5"></li>
      </ol>
    </div>
  </div>
</section>
